*.gcno
*.gcda
*.gcov
*.dirstamp
*.deps/
*.o
*.so
*.lo
*.la
*.pdf
*.nii
libtool
config.log
config.status
scripts/
m4/
autom4te.cache
aclocal.m4
Makefile.in
Makefile
configure
clmedview
doc/doxygen
*.cbp
*.depend
*.layout
*.cbTemp
*.libs/
bin/
plugin/brushes/
plugin/line-tools/
plugin/selection-tools/
grel-scripts/